gunicorn==19.6.0
click
Flask==1.0.4
itsdangerous
Jinja2
MarkupSafe
Werkzeug==0.14.1
flask-sqlalchemy
psycopg2
slackclient
APScheduler
wtforms
newrelic
yagmail
keyring
keyrings.alt
Flask-WTF
email_validator
profanity-filter