input[type=text] {
  border-radius: 4px;
  width: 100%;
  height: 25px;
  font-size: 16px;
  color: #186cab;
  padding: 0px 5px 0px 5px;
  margin-top: 5px;
  background-color: #b7edfa;
  border-style: solid;
  border-color: #b7edfa;
}

select {
  background: #b7edfa;
  font-size: 16px;
  height: 25px;
  border: none;
  color: #186cab;
}

body {
  margin: 0px;
  font-size: 16px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
}

A {
  font-weight: bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
  text-align: left;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #000000;
}

A:link {
  font-weight: bold;
  color: #68cff0;
}

h1, h2, h3, h4 {
  text-align: center;
}

p {
  color: #1b1b1b;
}

.directions {
  margin-bottom: 25px;
  padding-top: 10px;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.message {
  display: block;
}

.separator_line, 
.second_separator_line {
  margin: 0 auto;
  width: 100%;
  height: 8px;
}

.separator_line {
  background-color: #68cff0;
}

.second_separator_line {
  background-color: #a1e6f7;
}

.white_textbox {
  background-color: #ffffff;
  margin: 0 auto;
  overflow: auto;
  width: 100%;
  overflow: auto;
}

.header_text {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  padding: 5px;
}

.form {
  margin: 0 auto;
  width: 50%;
}

.navigation_section {
  text-align: center;
  margin: 5px;
  width: 100%;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: #186cab;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}

.footer-wrapper {
  min-height: 100%;
  height: auto !important;
  margin-bottom: -116px;
}

.footer-wrapper:after {
  content: "";
  display: block;
  height: 116px;
}

.submitButton {
  background-color: #2da5d0;
  color: #ffffff;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-top: 10px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.text {
  margin: 20px 0px 20px 0px;
}

.navigation {
  background-color: #186cab;
  margin: 0 auto;
  width: 100%;
  color: #ffffff;
}

.time {
  width: 50px !important;
}

.bold {
  font-weight: 800;
}

.error-box {
  background-color: #ffc3c3;
  padding: 5px;
  display: block;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.error {
  color: #c70505;
  padding: 5px;
  display: block;
  font-size: 12px;
}

.additional_5px_top_margin {
  margin-top: 5px;
}

.error_details {
  line-height: 0.2;
}

.success-box {
  background-color: #b0c9ff;
  padding: 5px;
  display: block;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.success {
  color: #0543ca;
  padding: 5px;
  display: block;
  font-size: 12px;
}

input::-webkit-input-placeholder {
  color: #42b4cf !important;
}

input:-moz-placeholder {
  color: #42b4cf !important;
}

input::-moz-placeholder {
  color: #42b4cf !important;
}

input:-ms-input-placeholder {
  color: #42b4cf !important;
}

.footer_text {
  padding: 5px;
}
