<!DOCTYPE html>
<!-- Standup Bot by Christina Aiello, 2017-2020 -->
<html>

<head>
	<title>Confirm Email - Slack Daily Standup Bot</title>
	<link rel="stylesheet" href="../static/styles.css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="../static/script.js" type="text/javascript"></script>
</head>

<link rel="icon" href="static/favicon.ico" type="image/x-icon" />

<body>
	<nav class="navigation">
		<div class="page-header">
			Slack Daily Standup Bot
		</div>
	</nav>

	<section class="main-page-body">
		<div class="header-image">
			<ul class="header-image-quotes">
				<li>"What are you doing today? Any blockers or impediments?"</li>
				<li>"What did you do yesterday? What are you going to do today? Do you have any blockers?"</li>
				<li>"Standup time! Drop your standup report here."</li>
			</ul>
		</div>

        {% if message %}
            <span class="message {% if form.errors %} error {% else %} success {% endif %}">{{ message }}</span>
        {% endif %}

		<form action="" method="post" class="form email-confirm-form">
			{{ form.csrf_token }}
			<div class="input text">
				{{ form.code(placeholder="Confirm Email with Code") }}
			</div>

			<div class="input submit">
				{{ form.recaptcha }}
				{% for error in form.recaptcha.errors %}
				  <span class="error error_details bold">You must fill out the reCAPTCHA!</span>
				{% endfor %}
				<input class="submit-button" type="submit" value="Submit" />
			</div>
		</form>
	</section>

	<footer class="footer">
		<span class="footer_text">Standup bot by <a href="https://github.com/cjaiello" target="_blank">Christina Aiello</a></span>
	</footer>
</body>

</html>
