<!DOCTYPE html>
<!-- Standup Bot by Christina Aiello, 2017 -->
<html>

<head>
	<title>DX Slack Standup Bot</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<link rel="icon" href="static/favicon.ico" type="image/x-icon" />

<body bgcolor="#181818">

	<nav class="navigation">
		<div class="page-header">
			Slack Standup Bot
		</div>
	</nav>

	<section class="separator">
	</section>
	<section class="second-separator">
	</section>

	<section class="main-page-body">
        {% if message %}
            <span class="message {% if form.errors %} error {% else %} success {% endif %}">{{ message }}</span>
        {% endif %}

		<form action="" method="post" class="form">
			{{ form.csrf_token }}
			<div class="input text">
				{{ form.code(placeholder="Confirm Email with Code") }}
			</div>

			<div class="input submit">
				{{ form.recaptcha }}
				{% for error in form.recaptcha.errors %}
				  <span class="error error_details bold">You must fill out the reCAPTCHA!</span>
				{% endfor %}
				<input class="submit-button" type="submit" value="Submit" />
			</div>
		</form>
	</section>
	<!-- Closing tag for main white text box -->

	<!-- Adds a bar across the page for colors -->
	<section class="second-separator">
	</section>
	<section class="separator">
	</section>

	<!-- Bottom Bar -->
	<footer class="footer">
		<span class="footer_text">Standup bot by <a href="https://github.com/cjaiello" target="_blank">Christina Aiello</a></span>
	</footer>
</body>

</html>
