<!DOCTYPE html>
<!-- Standup Bot by Christina Aiello, 2017-2020 -->
<html>

<head>
	<title>DX Slack Standup Bot</title>
	<link rel="stylesheet" href="../static/styles.css" />
</head>

<link rel="icon" href="static/favicon.ico" type="image/x-icon" />

<body>

	<nav class="navigation">
		<div class="header-text">
			DX Slack Standup Bot
		</div>
	</nav>

	<section class="separator">
	</section>
	<section class="second-separator bottom-shadow">
	</section>

	<section class="main-page-body">
		<form action="" method="post" class="form">
			{{ form.csrf_token }}
			<div class="directions">
				Use this form to add or update your standup information.
			</div>

			<div class="input text">
				{% if message %}
					<div class="{% if form.errors %}error{% else %}success{% endif %}-box">
						<span class="message {% if form.errors %} error {% else %} success {% endif %}">{{ message }}</span>
					</div>
				{% endif %}
			</div>

			<div class="input text channel-name-div">
				Channel:<br>
				<select name="channel_name" method="GET" action="/">
				    {% for option in form.channel_name %}
				    	<option value= "{{option}}" SELECTED>{{option}}</option>"
				    {% endfor %}
				</select>
			</div>

			<div class="time-div input text">
				Standup Time:<br>{{ form.standup_hour(class_="time", placeholder="00") }} {{ form.standup_minute(class_="time", placeholder="00") }}
				<select name="am_or_pm" method="GET" action="/">
				    {% for option in form.am_or_pm %}
				    <option value= "{{option}}" SELECTED>{{option}}</option>"
				    {% endfor %}
				</select>
			</div>


			{% if form.standup_hour.errors %}
				<div class="error-box">
					<span class="error error_details bold">Hours Error{% if form.standup_hour.errors |length > 1 %}s{% endif %}</span>
					{% for error in form.standup_hour.errors %}
						<span class="error error_details">{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
			{% if form.standup_minute.errors %}
				<div class="error-box">
					<span class="error error_details bold {% if form.standup_hour.errors %}additional-margin{% endif %}">Minutes Error{% if form.standup_minute.errors |length > 1 %}s{% endif %}</span>
					{% for error in form.standup_minute.errors %}
						<span class="error error_details">{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}

			<div class="input text">
				{{ form.message(placeholder="Standup message") }}
			</div>

			<div class="input text">
				How long do people have to submit their standup status?
				<br>
				{{ form.hours_delay(class_="time", placeholder="00") }} hours and {{ form.minutes_delay(class_="time", placeholder="00") }} minutes
				{% if form.hours_delay.errors %}
					<div class="error-box">
						<span class="error error_details bold">Hours Error{% if form.hours_delay.errors |length > 1 %}s{% endif %}</span>
						{% for error in form.hours_delay.errors %}
							<span class="error error_details">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
				{% if form.minutes_delay.errors %}
					<div class="error-box">
						<span class="error error_details bold {% if form.hours_delay.errors %}additional-margin{% endif %}">Minutes Error{% if form.minutes_delay.errors |length > 1 %}s{% endif %}</span>
						{% for error in form.minutes_delay.errors %}
							<span class="error error_details">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			<div class="input text">
				{{ form.email(placeholder="(OPTIONAL) Where should we email your standup reports?") }}
				{% if form.email.errors %}
					<div class="error-box">
						{% for error in form.email.errors %}
						<span class="error error_details">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			<div class="input submit">
				{{ form.recaptcha }}
				{% if form.email.errors %}
					<div class="error-box">
						{% for error in form.recaptcha.errors %}
						<span class="error error_details bold">You must fill out the reCAPTCHA!</span>
						{% endfor %}
					</div>
				{% endif %}
				<input class="submit-button" type="submit" value="Submit" />
			</div>
			</div>
		</form>
	</section>
	<!-- Closing tag for main white text box -->

	<section class="footer-wrapper">
		<!-- Adds a bar across the page for colors -->
		<section class="second-separator">
		</section>
		<section class="separator">
		</section>

		<!-- Bottom Bar -->
		<footer class="footer">
			<span class="footer_text">Standup bot by <a href="https://github.com/cjaiello" target="_blank">Christina Aiello</a></span>
		</footer>
	</section>
</body>

</html>
