<!DOCTYPE html>
<!-- Standup Bot by Christina Aiello, 2017 -->
<html>

<head>
	<title>DX Slack Standup Bot</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<link rel="icon" href="static/favicon.ico" type="image/x-icon" />

<body bgcolor="#181818">

	<nav class="navigation">
		<div class="header_text">
			DX Slack Standup Bot
		</div>
	</nav>

	<section class="separator_line">
	</section>
	<section class="second_separator_line">
	</section>

	<section class="white_textbox">
		<form action="" method="post" class="form">
			{{ form.csrf_token }}
			<div class="directions">
				<ol>
					<li>Use this form to add or update your standup information.</li>
					<li>Standup results are emailed to you four hours after your standup alert is sent.</li>
				</ol>
			</div>

			<div class="input text">
				{% if message %}
					<span class="message {% if form.errors %} error {% else %} success {% endif %}">{{ message }}</span>
				{% endif %}

				<select name="channel_name" method="GET" action="/">
				    {% for option in form.channel_name %}
				    	<option value= "{{option}}" SELECTED>{{option}}</option>"
				    {% endfor %}
				</select>
			</div>

			<div class="input text">
				Standup Time:<br>{{ form.standup_hour(class_="time", placeholder="00") }} {{ form.standup_minute(class_="time", placeholder="00") }}
				<select name="am_or_pm" method="GET" action="/">
				    {% for option in form.am_or_pm %}
				    <option value= "{{option}}" SELECTED>{{option}}</option>"
				    {% endfor %}
				</select>
				{% if form.standup_hour.errors %}
				<span class="error error_details bold">Hours Error{% if form.standup_hour.errors |length > 1 %}s{% endif %}</span>
					{% for error in form.standup_hour.errors %}
						<span class="error error_details">{{ error }}</span>
					{% endfor %}
				{% endif %}
				{% if form.standup_minute.errors %}
					<span class="error error_details bold {% if form.standup_hour.errors %}additional_5px_top_margin{% endif %}">Minutes Error{% if form.standup_minute.errors |length > 1 %}s{% endif %}</span>
					{% for error in form.standup_minute.errors %}
						<span class="error error_details">{{ error }}</span>
					{% endfor %}
				{% endif %}
			</div>

			<div class="input text">
				{{ form.message(placeholder="Standup Message, without @channel") }}
			</div>

			<div class="input text">
				Amount of time until standup submission time closes:<br>{{ form.hours_delay(class_="time", placeholder="00") }} hours and {{ form.minutes_delay(class_="time", placeholder="00") }} minutes
			</div>

			<div class="input text">
				{{ form.email(placeholder="(OPTIONAL) Where should we email your standup reports?") }}
				{% for error in form.email.errors %}
					<span class="error error_details">{{ error }}</span>
				{% endfor %}
			</div>

			<div class="input submit">
				{{ form.recaptcha }}
				{% for error in form.recaptcha.errors %}
				  <span class="error error_details bold">You must fill out the reCAPTCHA!</span>
				{% endfor %}
				<input class="submitButton" type="submit" value="Submit" />
			</div>
			</div>
		</form>
	</section>
	<!-- Closing tag for main white text box -->

	<!-- Adds a bar across the page for colors -->
	<section class="second_separator_line">
	</section>
	<section class="separator_line">
	</section>

	<!-- Bottom Bar -->
	<footer class="footer">
		<span class="footer_text">Standup bot by <a href="https://github.com/cjaiello" target="_blank">Christina Aiello</a></span>
	</footer>
</body>

</html>
